CARINSURE.WEB/Connected Services/CarInsuranceService/Carinsure.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInsuranceProviders">
        <s:complexType />
      </s:element>
      <s:element name="GetInsuranceProvidersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInsuranceProvidersResult" type="tns:ArrayOfInsuranceProviders" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInsuranceProviders">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="InsuranceProviders" nillable="true" type="tns:InsuranceProviders" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="InsuranceProviders">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Headquarter" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Ratings" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllPolicies">
        <s:complexType />
      </s:element>
      <s:element name="GetAllPoliciesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllPoliciesResult" type="tns:ArrayOfInsuranceProviderPolicies" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInsuranceProviderPolicies">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="InsuranceProviderPolicies" nillable="true" type="tns:InsuranceProviderPolicies" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="InsuranceProviderPolicies">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PolicyName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Maturity" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CompanyId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Provider" type="tns:InsuranceProviders" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetInsuranceProvidersSoapIn">
    <wsdl:part name="parameters" element="tns:GetInsuranceProviders" />
  </wsdl:message>
  <wsdl:message name="GetInsuranceProvidersSoapOut">
    <wsdl:part name="parameters" element="tns:GetInsuranceProvidersResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllPoliciesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllPolicies" />
  </wsdl:message>
  <wsdl:message name="GetAllPoliciesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllPoliciesResponse" />
  </wsdl:message>
  <wsdl:portType name="CarinsureSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInsuranceProviders">
      <wsdl:input message="tns:GetInsuranceProvidersSoapIn" />
      <wsdl:output message="tns:GetInsuranceProvidersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPolicies">
      <wsdl:input message="tns:GetAllPoliciesSoapIn" />
      <wsdl:output message="tns:GetAllPoliciesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CarinsureSoap" type="tns:CarinsureSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInsuranceProviders">
      <soap:operation soapAction="http://tempuri.org/GetInsuranceProviders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPolicies">
      <soap:operation soapAction="http://tempuri.org/GetAllPolicies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CarinsureSoap12" type="tns:CarinsureSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInsuranceProviders">
      <soap12:operation soapAction="http://tempuri.org/GetInsuranceProviders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPolicies">
      <soap12:operation soapAction="http://tempuri.org/GetAllPolicies" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Carinsure">
    <wsdl:port name="CarinsureSoap" binding="tns:CarinsureSoap">
      <soap:address location="https://localhost:44378/Carinsure.asmx" />
    </wsdl:port>
    <wsdl:port name="CarinsureSoap12" binding="tns:CarinsureSoap12">
      <soap12:address location="https://localhost:44378/Carinsure.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>