CARINSURE.WEB/Connected Services/MyWCFService/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CARINSURE.MODELS" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CARINSURE.MODELS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfInsuranceProviders">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InsuranceProviders" nillable="true" type="tns:InsuranceProviders" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInsuranceProviders" nillable="true" type="tns:ArrayOfInsuranceProviders" />
  <xs:complexType name="InsuranceProviders">
    <xs:sequence>
      <xs:element name="_x003C_CompanyName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Headquarter_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Id_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Ratings_x003E_k__BackingField" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsuranceProviders" nillable="true" type="tns:InsuranceProviders" />
</xs:schema>